.new-expense {
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
  border-radius: 25px;
  background: #e2d7ea;
  box-shadow: 8px 8px 16px #c5bbcc, -8px -8px 16px #fff3ff;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  color: rgb(255, 255, 255);
  margin-right: 1rem;
  border-radius: 16px;
  background: linear-gradient(145deg, #8c98dd, #8267e0);
  box-shadow: 5px 5px 10px #d8c2de, -5px -5px 10px #fffcff;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #e0e0e0;
}

.new-expense button.alternative {
  color: #e0e0e0;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #e0e0e0;
}
